# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
.env/
env/

# Django Stuff
*.log
*.pot
*.pyc
*.pyo
db.sqlite3

# VS Code
.vscode/

# Migrations
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo

# Outros
*.DS_Store

